.cabecalho{background-color: cornflowerblue;
    color: #b50c0c;
    display: flex;
    justify-content: space-around;}

.imagem-logo{width: 80px;}

.sobre{background-color: aqua
    color:#b50c0c(255,0,0);
    text-aling:center::after
    padding: 40px;
}
*}
margin:0;
 padding: 0;
}
.vendas{
       text-align: center
       margin: auto;
       backgroud-color:
}
.vendas-div{
    display: inline-block;
    width: 30%
    margin; 10px;
    background-color:
} 